:root{
    --bz-app-bg-success:rgb(0 150 136);
    --bz-app-bg-light:rgb(230, 230, 210);
    --bz-app-bg-light-gradient: linear-gradient(180deg, rgba(230, 230, 210, 1) 0%, rgba(215, 219, 220, 1) 59%, rgba(210, 219, 230, 1) 100%);
    --bz-app-bg-main: rgb(234, 234, 234);
    --bz-app-icons: rgb(177, 177, 177);
    --bs-app-bg-notifications: rgb(142 218 252);
    
}



.bg_top {
    height: 20%;
    width: 100%;
    background-color: var(--bz-app-bg-success);
}

.bg_down {
    background: var(--bz-app-bg-light);
    background: var(--bz-app-bg-light-gradient);
    height: 80%;

}

.site_container{
    background-color: var(--bz-app-bg-main);
    width: 80%;
    height: 94%;
    position: absolute;
    top: 3%;
    left: 10%;
}

.user_pic{
    border-radius: 50%;
    width: 60px;
    margin: 0.5rem ;
}

.icons{
    color: var(--bz-app-icons);
}

.notifications{
    background-color: var(--bs-app-bg-notifications);
}

.fa-bell-slash{
    height: 48px;
    aspect-ratio: 1 / 1;
    line-height: 32px;
    text-align: center;
    color: var(--bs-app-bg-notifications);
}

.notification_description p{
    font-size: 14px;
    font-weight: 500;
}

.notification_description p:last-of-type{
    color: gray;
}

.ms-n5 {
    margin-left: -40px;
}