:root{
    --bz-app-bg-success:rgb(0 150 136);
    --bz-app-bg-light:rgb(230, 230, 210);
    --bz-app-bg-light-gradient: linear-gradient(180deg, rgba(230, 230, 210, 1) 0%, rgba(215, 219, 220, 1) 59%, rgba(210, 219, 230, 1) 100%);
    --bz-app-bg-main: #eaeaea;
    --bz-app-icons: rgb(177, 177, 177);
    --bs-app-bg-notifications: rgb(142 218 252);
    --bs-app-bg-msg-received: rgb(255, 255, 255);
    --bs-app-bg-msg-sent: rgb(213, 249, 186);
    
}

#app{
    height: 100vh;
}


.bg_top {
    height: 20%;
    width: 100%;
    background-color: var(--bz-app-bg-success);
}

.bg_down {
    background: var(--bz-app-bg-light-gradient);
    height: 80%;

}

.site_container{
    background-color: var(--bz-app-bg-main);
    width: 80%;
    height: 94%;
    position: absolute;
    top: 3%;
    left: 10%;
}

.user_pic{
    border-radius: 50%;
    width: 60px;
    margin: 0.5rem ;
}

.icons{
    color: var(--bz-app-icons);
}

.notifications{
    background-color: var(--bs-app-bg-notifications);
}

.fa-bell-slash{
    height: 48px;
    aspect-ratio: 1 / 1;
    line-height: 32px;
    text-align: center;
    color: var(--bs-app-bg-notifications);
}

.notification_description p{
    font-size: 14px;
    font-weight: 500;
}

.notification_description p:last-of-type, .last_message, .last_access{
    color: gray;
}

.searchbar{
    background-color: #fafafa;
}

.cm_border{
    border: 1px solid #f3f3f3;
}

.search_btn{
    color: #b9b9b9;
}

.ms-n5 {
    margin-left: -40px;
}

.contact{
    height: 90px ;
    
    border-bottom: 0.1px solid var(--bz-app-bg-main);
}

.chat{
    background-image: url(../img/mine.jpg);
}

.received{
    background-color: var(--bs-app-bg-msg-received);
    border-radius: 10px;
    min-height: 50px;
    width: 350px;
    margin-top: 2rem;
    margin-right: auto;
    padding: 0.5rem 1rem ;
    display: flex;
    align-items: center;
    
    
    
}

.sent{
    background-color: var(--bs-app-bg-msg-sent);
    border-radius: 10px;
    min-height: 50px;
    width: 350px;
    margin-top: 2rem;
    margin-left: auto;
    padding: 0.5rem 1rem ;
    display: flex;
    align-items: center;
    
}

.write{
    padding: 0.5rem;
    background-color: var(--bz-app-bg-main);
}

.message_content{
    max-width: 80%;
    word-wrap: break-word;
}

.message_time{
    font-size: 12px;
    margin: 0;
    align-self: flex-end;
    
}

.active_chat{
    background-color: var(--bz-app-bg-main) ;
}